<footer>
  <div class="container">

  <div class="row">
    <h4><img src="/images/logo.png">{{ .Site.Title }} | Le blog</h4>
    <hr>
    <div class="col-md-6 col-xs-12">
      <p class="text-justify">Partagez des saveurs avec Cuistot du Coin lors d’ateliers de cuisine authentiques et conviviaux ! Nos Cuistots passionnés vous livrent leurs recettes et vous invitent à les retrouver aux fourneaux lors d’ateliers entre particuliers ou au sein de votre entreprise. Plongez dans leurs univers culinaires et percez les secrets de préparations traditionnelles ou voyagez par le biais de la cuisine. Enfilez votre tablier et apprenez à cuisiner dans une ambiance chaleureuse, propice aux rencontres et aux échanges. Ce perdez pas une miette de ces moments de partage !</p>
        <p class="text-center">
          <a class="link-btn" href="http://www.cuistotducoin.com">Découvrir Cuistot du coin</a>
          <i class="fa fa-coffee green" aria-hidden="true"></i>
          <a class="link-btn" href="http://www.cuistotducoin.com">Qui sommes-nous ?</a>
        </p>
    </div>
    <div class="col-md-6 col-xs-12">
      <h4 class="text-center">Catégories</h4>
      <div class="row test">
        <div class="col-md-6 col-xs-12">
          <a href="/categories/ateliers"><blockquote class="blockquote-green">
            <p>Ateliers<br>
          </blockquote></a>
          <a href="/categories/cuistots"><blockquote class="blockquote-green">
            <p>Cuistots<br>
          </blockquote></a>
          <a href="/categories/recettes"><blockquote class="blockquote-green">
            <p>Recettes<br>
          </blockquote></a>
        </div>
        <div class="col-md-6 col-xs-12">
          <a href="/categories/entreprises"><blockquote class="blockquote-green">
            <p>Entreprises<br>
          </blockquote></a>
          <a href="/categories/partenaires"><blockquote class="blockquote-green">
            <p>Partenaires<br>
          </blockquote></a>
        </div>
      </div>
      <p class="text-center">
        <a class="green social" href="#"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
        <a class="green social" href="#"> <i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
        <a class="green social" href="#"> <i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
        <a class="green social" href="#"> <i class="fa fa-pinterest-p fa-2x" aria-hidden="true"></i></a>
        <a class="green social" href="#"> <i class="fa fa-google-plus fa-2x" aria-hidden="true"></i></a>
        <a class="green social" href="#"> <i class="fa fa-youtube fa-2x" aria-hidden="true"></i></a>
      </p>
    </div>
  </div>
</div>
    <section class="footer-copyright">
    <div class="col-sm-12">
      <p class="text-center">
        Concocté avec &#10084; en Bretagne<br>
        &copy; 2017 Cuistot du coin - Tous droits réservés.
      </p>
    </div>
  </section>
</footer>
